h1{
    color: darkblue;
    text-align: center;
    font-size: 40px;
}
p{
    font-family: fantasy;
}
.demo{
    background-color: brown;
    width: 100%;
    height: 200px;
}
#p1{
    color: rgb(22, 20, 21);
    font-size: 50px;
}
.mydiv{
    background-color: darkgreen;
    width: 100%;
    height: 50px;
}
div{
    background-color: darkred;
}
#div1{
    background-color: dimgray;
}